[submodule "calico"]
	path = calico
	url = https://github.com/Rufflewind/calico-hs
[submodule "html-entities"]
	path = html-entities
	url = https://github.com/Rufflewind/html-entities
[submodule "twitter-conduit"]
	path = twitter-conduit
	url = https://github.com/himura/twitter-conduit
