[Unit]
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/local/bin/c3r
User=c3r
WorkingDirectory=~

[Install]
WantedBy=default.target
